/* Global */
* {
 margin: 0;
 padding: 0;
 font-family: 'Gudea';
}

/* menu principal */

.menu
{
	height: 42px;
	width: 100%;
	display: inline-flex;
	text-align: center;
	list-style-type:none;
	position: fixed;
}

/* Rubriques */

.rubrique a{
	color: #FFFFFF;
}

.rubrique:hover {
	background-color: #36446F;
	box-shadow: 0 5px 8px -8px #ccc;
}

.rubrique {
	width: 20%;
	height: 42px;
	padding-top: 18px;
	background-color: #203060;
    transition-duration: 0.3s;
	color: #FFFFFF;
	text-decoration: none;
}

.rubrique li {
  font-size: 1em;
}

/* contenant du menu principal */

#headerlol {
	width: 100%;
	height: 60px;
}

/* nav bar */

nav {
	height: 100%;
	width: 100%;
}

/* division principale */

#main {
	width: 100%;
	min-height: 846px;
}

#HDP {
  position: fixed;
	width: 5.8%;
  padding: 0.3%;
  border-radius: 5px;
  margin: 1%;
  background-color: #203060;
}

#HDP a {
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
}


#video iframe {
  height: 100%;
}


/* corps du site (fond d'écran) */

body {
	background-color: #BBBBFF;
}

/* pied de page avec logo iut, git et créateurs */

footer {
	padding-top: 1%;
	padding-bottom: 1%;
	color: #fff;
	background: #203060;
	bottom: 0;
	width: 100%;
	text-decoration: none;
}

/* bloc principal page d'accueil */

#blocAccueil {

	background: #A8A8E5;
	text-align: center;
  border-radius: 75px;
  margin-left: 20%;
	margin-right: 20%;
  margin-top: 5%;
  margin-bottom : 10%;
  min-height: 700px;
	height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

}

#blocAccueil h1 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

#blocAccueil iframe {
  margin: 2%;
}


/* bloc principal page histoire et impacts */

#blocHistoire {

	background: #A8A8E5;
	text-align: justify;
  border-radius: 75px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
	min-height: 1000px;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

}

/* titre bloc principal page histoire */
#blocHistoire h1 {
	text-align: center;
	padding-bottom: 5%;
	padding-top: 2%;
}


/* second titre bloc principal page histoire */
#blocHistoire h2 {
	text-align: left;
	padding-bottom: 1%;
	padding-top: 2%;
}

/* lien bloc principal page histoire */
#blocHistoire a {
	text-decoration: none;
}

#blocHistoire img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 65%;
	height: 65%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* image logo iut */
#logoIut {
  height: 100px;
}

/* image logo git */
#logoGit {
  height: 60px;
}

/* bloc central footer */
#footer_centre {
  text-align: center;
  display: inline-block;
  width: 33%;
}

/* bloc gauche footer */
#footer_gauche {
  text-align: left;
  display: inline-block;
  width: 33%;
}

/* bloc droite footer */
#footer_droite {
  padding-left: 10%;
  display: inline-block;
  width: 22%;
  padding-bottom: 1%;
}

/* bloc principal fiche technique */
#blocFicheT {

  background: #A8A8E5;
	text-align: justify;
  border-radius: 75px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
	min-height: 1000px;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

}

#blocFicheT h1 {
	text-align: center;
}

#blocFicheT img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 65%;
	height: 65%;
}

/* fond de la frise */

.bandeauTop {
	background: #36446F;
	max-height: 150px;
	min-height: 150px;
	margin: 0 auto;
}

/* frise */
.frise {
  padding-top: 75px;
}


#ol_frise {
	position: relative;
	display: block;
	margin-right: 10%;
	margin-left: 10%;
	height: 4px;
	background: #31708F;

}

#ol_frise::before,
#ol_frise::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
	border-radius: 10px;
	border: 10px solid #31708F;

}

#ol_frise::before {
	left: -5px;
}

#ol_frise::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
  border-radius: 3px;

}

#li_frise {
	position: relative;
	display: inline-block;
	float: left;
	width: 10%;
	font: bold 14px arial;
	height: 50px;
}

#li_frise .date {
  position: absolute;
  font-size: 2em;
  top: -47px;
  left: 36%;
  color: #000000;
}

#li_frise .point {
	content: "";
	top: -4px;
	left: 43%;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid #31708F;
	border-radius: 10px;
	background: #fff;
	position: absolute;
}

.intro{
	text-align: center;
}

#SOMMAIRE{
  margin-left: auto;
  margin-right: auto;
	border-style: solid;
	padding: 2%;
	width: 50%;
}
#SOMMAIRE h1{
	text-align: center;
}
#SOMMAIRE h2{
	text-align: center;
}
#SOMMAIRE h3{
	text-align: center;
}

#SOMMAIRE li{
  list-style-type: none;
}

.image{
	position: absolute;
	margin: -300px 0 0 450px;
}

.parent{
	width:500px;
}
